<div class="container">  
    <h5> <b> Cadastro de pessoas </b> </h5>
    <form ngForm name="titulo">
        <label id="labelName" for="input">Nome</label>
        <input id="input" type="text"  [(ngModel)]= 'pessoas' name='pessoas'>
        <button id="buttonOk" (click)='cadastrar()'>ok</button>
    </form>
    <h5> <b> Pessoas cadastradas </b> </h5>
    <table>
        <th> Nome </th>
        <th> Excluir </th>
        <tr *ngFor="let p of lista">
            <td id="td1">{{p}}</td>
            <td id="td2"> <button id="buttonDelete" (click)="remover(p)"> x </button> </td>
        </tr>
    </table>
</div>