.container{
    width: 25%;
    margin-top: 5%;
    padding: 2%;
    border: 1px solid black;
}

#input{
    width: 70%;
    outline: none;
    padding-left: 2%;
    padding-right: 2%;
    margin-top: 4%;
    margin-bottom: 4%;
    margin-left: 2%;
}

li{
    margin-left: 2%;
}

#buttonOk{
    margin-left: 1%;
    font-size: 14px;
}
