.container{
    width: 25%;
    margin-top: 5%;
    padding: 2%;
    border: 1px solid black;
}

#input{
    width: 70%;
    outline: none;
    padding-left: 2%;
    padding-right: 2%;
    margin-top: 4%;
    margin-bottom: 4%;
    margin-left: 2%;
}

#buttonOk{
    margin-left: 1%;
    font-size: 14px;
}

table, th, td{;
    border: 1px solid black;
    border-collapse: collapse;
}

table{
    width: 100%;
}

th{
    width: 81%;
    padding-left: 2%;
    padding-right: 2%;
}

td{
    padding-top: 1%;
    padding-bottom: .5%;
}

#td1{
    padding-left: 2%;
}

#td2{
    text-align: center;
    vertical-align: middle;
}

#buttonDelete{
    width: 80%;
    height: 20px;
    font-size: 11px; 
}